# Build products
build/
DerivedData/
*.o
*.dSYM/

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate
.swiftpm/

# macOS
.DS_Store
